html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.tabs-principal {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-size: 6.25rem;
    margin: 0;
    font-family: "Bellefair Regular";
  }
  p {
    font-size: 1rem;
  }
  h3 {
    font-size: 3.5rem;
    margin: 0;
    font-family: "Bellefair Regular";
  }
}
.img_people {
  max-height: 35rem;
  margin-bottom: -3rem;
}

.tablistoptions {
  justify-content: flex-end;
}
.tablist {
  z-index: 1;
}
.proffesion {
  color: #d0d6f9;
  font-size: 1.75rem;
  font-weight: 400;
  font-family: "Barlow Condensed";
}
.tittle-number {
  color: #d0d6f9;
  font-size: 1.75rem;
  font-weight: 700;
}
.tittle-text {
  font-weight: 400;
  font-size: 1.75rem;
  color: #ffffff;
}
.tittle-section {
  padding: 1rem 5rem;
}
.information {
  padding: 0rem 5rem;
}

.technology-view {
  background-image: url(./public/technology/background-technology-desktop.jpg);
  width: 100vw;
  height: 100vh;
  margin: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0%;
  position: static;

  .info-container {
    padding-left: 10rem;
    display: flex;
    align-items: center;
    color: #d0d6f9;

    h5 {
      font-family: "Barlow Condensed";
      size: 1rem;
      font-weight: 400;
    }

    h3 {
      font-family: "Bellefair";
      font-weight: 400;
      font-size: 56px;
      line-height: 64.18px;
    }

    p {
      font-family: "Barlow";
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      width: 444px;
    }
  }

  .imageTab {
    max-height: 35rem;
    margin-bottom: -3rem;
    object-fit: cover;
    top: 0%;
    padding-left: 0%;
  }
  .tablist {
    display: flex;
    flex-direction: column;
    width: 50px;
  }

  .page-contain {
    width: 570px;
  }

  .techImage {
    width: 350.5px;
    display: flex;
    text-align: center;
  }
  .techImage img {
    display: flex;
    translate: 16.8rem;
    width: 350px;
    height: auto;
    // background-repeat: no-repeat;
  }
}
